

              <div class="container m-5 pt-4">
               <h1 text-align="center "> 1.Varkala </h1>
                
                       <div> <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Varkala_beach_from_above.jpg" class="card-img-top" alt="..." width="500" height="300" class="center m-5"></div>
                       <p class="text " > Varkala Tourism
                        Varkala is a coastal town in the southern part of Kerala known for the unique 15m high 'Northern Cliff' adjacent to the Arabian Sea. It is popular for its hippie culture, shacks on the cliff serving great seafood and playing global music and the samadhi of Kerala's saint Sree Narayana Guru.<br> Varkala is also known for Jardana Swami Temple, also known as Dakshin Kashi.
                        
                        Varkala has some of the best pristine beaches, hills, lakes, forts, lighthouses, natural fisheries and springs - all of this together makes this town a little paradise. You will also find a lot of shops with signboards in Hebrew selling Yoga mats, oxidised silver jewellery and harem pants made of cotton. Ayurvedic spas, affordable resorts, hostels, clean beaches make it a must-visit city of Kerala. </p>
                        <h3>For Location click here</h3>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3943.5438206264453!2d76.70339944999999!3d8.7347923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05ef1c356e35d9%3A0x529a20f7e0453699!2sVarkala%20Beach!5e0!3m2!1sen!2sin!4v1702873009551!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" [width]="300" [height]="200" ></iframe>
                        


        <div class="container pt-4">
        <h1 text-align="center "> 2.Vagamon </h1>
                                 
        <div> <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/Varkala_beach_from_above.jpg" class="card-img-top" alt="..." width="500" height="300" class="center" ></div>
        <p class="text " >Located near Kottayam-Idukki Border, Wagamon, popularly known as Vagamon, is a quiet offbeat hill station in Kerala. With a pleasant climate throughout the year, this breathtaking tourist spot has meandering rivulets and lush green hills surrounding it. The tea garden, pine forests, waterfalls, mesmerising meadows are all that makes Vagamon the perfect getaway. 

         Vagamon is gradually gaining attention for being one of India’s topmost adventure tourism spot, with activities such as trekking, rock climbing and paragliding being offered to tourists. Cycling through the mountains is another interesting activity that visitors can participate in to get a better feel of the place. The Kerala Tourism Department and the Adventure Sports and Sustainable Tourism Academy (AASTA) celebrates an International Paragliding festival in Vagamon each year, which is very popular with both the tourists as well as the locals. </p>
         <h3>For Location click here</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31464.763498399258!2d76.90350295!3d9.672886499999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b07b486067afccb%3A0xe78789cc4d9eabb9!2sVagamon%2C%20Kerala!5e0!3m2!1sen!2sin!4v1702873842844!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" [width]="300" [height]="200" ></iframe>



              <div class="container pt-4">
              <h1 text-align="center "> 3.Poovar </h1>
                                                 
              <div> <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/b6/37/09/beach-view.jpg?w=700&h=-1&s=1" class="card-img-top" alt="..." width="500" height="300" class="center" ></div>
              <p class="text " >Poovar is a small rustic town situated 27 kms from Thiruvananthapuram with unspoilt, unexplored golden sand beaches and beautiful backwaters of Kerala.

               Also known as a fishing village, the tranquil Poovar island lies between the Arabian Sea and the Neyyar River. Hiring a boat, (especially during the sunset)that will take you through the mangrove forest of backwaters is a must-do activity. The boat ride costs around INR 3000- INR 4000. The town has some of the beautiful resorts and hotels that are known for the hospitality they offer.
                                                                
               Poovar beach is secluded and is only accessible by a boat. Swimming is allowed here throughout the year except for the monsoon months </p>
                 <h3>For Location click here</h3>
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15791.210631072161!2d77.06855919999998!3d8.32239905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05a9082e4ea791%3A0x55e7ec79196c3a0e!2sPoovar%2C%20Kerala%20695525!5e0!3m2!1sen!2sin!4v1702874627060!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" [width]="300" [height]="200"></iframe>



             <div class="container pt-4">
                <h1 text-align="center "> 4.Kumarakom</h1>

             <div> <img src="https://media.istockphoto.com/id/491280712/photo/kerala-state-in-india.jpg?s=612x612&w=0&k=20&c=NLSdc123jgsRLpAgaKuVP6BWRDGwgYA3T1-B8pPtXMc=" class="card-img-top" alt="..." width="500" height="300" class="center" ></div>
              <p class="text " >With emerald green waters flanked by lush vegetation, Kumarakom is an enchanting backwater destination situated 16km away from Kottayam in Kerala. Lying on the banks of Vembanad Lake, Kerala's largest lake, Kumarakom is a cluster of small human-made islands reclaimed from the lake.

                Known for paddy fields, fishing, beach, a network of backwaters, delicious local cuisine, traditional Kettuvalloms (rice barges) houseboats and luxury and budget resorts. The Kumarakom bird sanctuary here, which is spread across 14 acres, is a favourite haunt of migratory birds and an ornithologist's paradise. Take a two-hour canoeing trip during the sunrise or sunset to experience the beauty of this place. Kumarkom is the first destination to implement responsible tourism. </p>
          <h3>For Location click here</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125882.39384014865!2d76.43896575000001!3d9.6103488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0881caaef0a8f7%3A0xc23075c3529e921!2sKumarakom%2C%20Kerala!5e0!3m2!1sen!2sin!4v1702875339437!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" [width]="300" [height]="200"></iframe>




          <div class="container pt-4">
                <h1 text-align="center "> 5.Kovalam</h1>

             <div> <img src="https://images.unsplash.com/photo-1576236242220-f658417e04be?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8a292YWxhbXxlbnwwfHwwfHx8MA%3D%3D" class="card-img-top" alt="..." width="500" height="300" class="center" ></div>
              <p class="text " > Famous for its resorts and ayurvedic massage centres, Kovalam is a coastal town located around 13 km from Thiruvananthapuram in Kerala. The largest beach in Kovalam is the lighthouse beach that features a 30-metre tall lighthouse. The other two adjacent beaches are Samudra beach and Hawa beach. All these three beaches are crescent-shaped shallow water and low tidal beaches.

                Visitors to Kovalam can indulge in a myriad of water activities, from swimming in the gentle waves to thrilling water sports like parasailing. The adrenaline-pumping experience of parasailing provides panoramic views of the coastline and the vast expanse of the Arabian Sea. Earlier a fishing village, Kovalam started attracting tourists in the 1930s and shot to fame in the hippie era of 1970s. It still sees the influx of tourists from Israel and Europe.
                
                Kovalam is adorned with various temples that add a cultural depth to the region like Kunnumpara Sree Murugan Temple, a serene abode dedicated to Lord Murugan. Azhimala Siva Temple, perched on a hillock, offers panoramic coastal views, providing a tranquil space for spiritual reflection. Thiruvallam Parasurama Temple, situated along the Karamana River, honors Lord Parasurama, attracting pilgrims and visitors seeking both religious rituals and serene surroundings.  
                
                For a day trip from Kovalam, Poovar is a picturesque village located just a short drive away. Visitors can take boat rides through the tranquil backwaters, bordered by coconut palms and mangrove forests. Additionally, nature enthusiasts can explore the Neyyar Wildlife Sanctuary, located nearby. Home to a diverse range of flora and fauna, including elephants, tigers, and exotic bird species, the sanctuary offers guided boat tours and trekking opportunities.</p>
          <h3>For Location click here</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31576.092231729534!2d76.97982345!3d8.4005258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05a5090a19ec65%3A0xb67f315bc0b762ac!2sKovalam%2C%20Kerala!5e0!3m2!1sen!2sin!4v1702880020348!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" [width]="300" [height]="200" ></iframe>





          <div class="container pt-4">
                <h1 text-align="center "> 6.Nelliyampathy</h1>

             <div> <img src="https://www.keralatourism.org/images/destination/mobile/nelliyampathy_hills_palakkad20131031111644_152_1.jpg" class="card-img-top" alt="..." width="500" height="300" class="center" ></div>
              <p class="text " > With plenty of unexplored treasures, Nelliyampathy is a hill station located near the Kerala and Tamil Nadu border offering bounty of nature and lush green surroundings of tea, coffee and cardamom plantations. The town is also ornamented with a variety of flora, fauna and picturesque tourist attractions. 

                A perfect place for eco-tourism and romantic holidays, the region comprises of peaks of altitude ranging from 500m to 1600m providing an incredible trekking trail for adventure buffs. Apart from this, Nenmara Vellanghy vela take place in the month of April. It is one of the most colourful festivals celebrated on the shores of Kerala with great vigour and enthusiasm. Bestowed with the best of all the elements, Nelliyampathy is a perfect getaway for all kind for vacationers.</p>
          <h3>For Location click here</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7845.1348390153!2d76.69479935!3d10.534696850000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8108c6959c853%3A0xc341dfd5c4358015!2sNelliampathi%2C%20Kerala%20678508!5e0!3m2!1sen!2sin!4v1702880792387!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" [width]="300" [height]="200" ></iframe>




          <div class="container pt-4">
                <h1 text-align="center "> 7.Vythiri</h1>

             <div> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTQC7DbYa2UmO_T_QsWg9PTBPoBalGZKx5wPSiNdrfFw&s" class="card-img-top" alt="..." width="500" height="300" class="center" ></div>
              <p class="text " > 62 kms off Kozhikode is Vythiri, a popular resort town famous for its old world charm of cottages, log huts & tree house accommodations cosily nestled in the forests of Wayanad. Situated at an altitude of 700 metres, Vythiri in Wayanad comprises of 18 villages.

                Vythiri is an ideal tourist destination with little cottages and resorts ornamenting its pleasant surroundings. It is the place to be in if one wants to step back a little into the past and experience the simpler cottage life while having the urban and modern facilities available on demand to create a truly enjoyable experience. The Pookot Lake, Chembara Peak, Soojipara & Meenmutty Falls and theÊMuthangaWildlife Sanctuary are its major attractions.</p>
          <h3>For Location click here</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15636.064405961175!2d76.0402608!3d11.5507025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba672874352ade7%3A0xca4f8007338f0b5f!2sVythiri%2C%20Kerala%20673576!5e0!3m2!1sen!2sin!4v1702881487686!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" [width]="300" [height]="200"></iframe>




          <div class="container pt-4">
                <h1 text-align="center "> 8.Ponmudi</h1>

             <div> <img src="https://i0.wp.com/www.theraviz.com/wp-content/uploads/2020/04/ponmudi.jpeg?fit=700%2C467&ssl=1" class="card-img-top" alt="..." width="500" height="300" class="center" ></div>
              <p class="text " > Nestled in the lap of rolling hills of the Western Ghats, enveloped with tea plantations, lush green hills and valleys, waterfalls and streams; Ponmudi is a quaint little town in Trivandrum, Kerala. Trekking and mountain climbing on Agasthayarkoodam, the highest peak in the region is the most popular activity. To get the best of the two worlds, explore the wilderness of the Golden Valley and laze around along the freshwater springs and Kallari River. Don't forget to take a walk through the deer park and the Ponmudi crest.</p>
          <h3>For Location click here</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15773.073695474093!2d77.11563349999999!3d8.76079635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05cdc4e9091881%3A0xa2a557886da0bdfc!2sPonmudi%2C%20Kerala!5e0!3m2!1sen!2sin!4v1702881719879!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" [width]="300" [height]="200" ></iframe>




          <div class="container pt-4">
                <h1 text-align="center "> 9.Kalpetta</h1>

             <div> <img src="https://www.keralatourism.org/images/microsites/wayanad/waynadu-1024x768.jpg" class="card-img-top" alt="..." width="500" height="300" class="center" ></div>
              <p class="text " > Kalpetta is a quaint town with a backdrop of majestic hills lurking in the shadows, lush green surroundings, fresh air and picturesque beauty. Housed in the Wayanad District of Kerala, at a height of 780 m above the sea level, Kalpetta is a perfect place for nature lovers as well as honeymooners.

                Encompassed with a mild fragrance of coffee and rustic lanes, the town is blessed with beautiful nature with scenic landscapes. It is also one of the major trading centres in Wayanad. Dotted ith ancient temples, Kalpetta has a stronghold on Jain communities with over 500 settlements in and around the region. Blessed with all the necessary elements of beauty, nature and charming romanticism, this sleepy town is a must on your Kerala itinerary.</p>
          <h3>For Location click here</h3>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62529.63047433223!2d76.08581545!3d11.616084549999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba6733459fb33d7%3A0xa5b953217a9fc043!2sKalpetta%2C%20Kerala!5e0!3m2!1sen!2sin!4v1702882025533!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" [width]="300" [height]="200"></iframe>



          <h1 class="pt-5" style="color: blue;" align="center">Thank You</h1>